# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/bank-consumer/.mvn/
/bank-service/.mvn/
/eureka-server/.mvn/
/finance-web/.mvn/
